.EventTop {
	color: var(--color-accent-0);
}

.index {
	color: var(--color-dark-2);
	margin-right: 0.8rem;
}

.container {
	display: flex;
	align-items: center;
	width: 100%;
}

.SaveIcon {
	cursor: pointer;
	opacity: 0.25;
	margin-right: 0.8rem;

	&:hover {
		opacity: 1;
		color: var(--color-accent-2);
	}
}

.label {
	color: var(--color-accent-1);
	font-style: italic;
	margin-left: 0.8rem;
	margin-right: 0.8rem;
	border: 0;
	outline: 0;
	background: none;
	font-size: 80%;
	font-weight: 400;
	letter-spacing: 1px;
	width: 100%;
	resize: none;
	margin-top: 2px;
}

.passed {
	color: var(--color-accent-2);
}

.failed {
	color: var(--color-accent-3);
}
