:global .headerIcon {
	margin-left: 1.6rem;
	color: var(--white);
}

.RecordIcon {
	color: var(--white);
}

.PlayOrPauseIcon {
	color: var(--white);
}

:global .__playing {
	transform: scale(1.25);
}

:global .__recording {
	transform: scale(1.25);
}

:global .headerIcon.active {
	opacity: 1;
}

:global .headerIcon:not(.active) {
	opacity: 0.25;
}

.ClearIcon {
	color: var(--white);
}

